<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>TapIn</title>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div id="wrapper">
        <form id="login" action="/login" method="get">
            <input type="text" name="username" class="username">
            <input type="number" name="pin" class="pin">
            <input type="hidden" name="token" class="token">
            <input type="submit" value="Login" class="login-button">
        </form>
    </div>
    {% include 'footer.html' %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
